header{
    height: 50px;
    background-color: rgb(102, 177, 243);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;

}

a{
    color:black;
}

li{
    display: inline-block;
    

}